body {
  background-color: #f8f9fa;
}

.card-title {
  color: #007bff;
}

.text-muted {
  color: #6c757d !important;
}

.card-text {
  font-size: 0.9rem;
  /* 调整 description 的字体大小 */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  /* 控制按钮之间的间距 */
  margin-top: auto;
}