body {
  background-color: #ffffff;
  font-family: Avenir, "Century Gothic", sans-serif;
}

.navbar-brand,
.nav-link {
  font-family: Avenir, "Century Gothic", sans-serif;
}

.card-title {
  color: #007bff;
}

.text-muted {
  color: #6c757d !important;
}

.card-text {
  font-size: 0.9rem;
  /* 调整 description 的字体大小 */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  /* 控制按钮之间的间距 */
  margin-top: auto;
}

.star-rating {
  color: #ffc107;
  /* 金色 */
}

.star-rating .far {
  color: #e4e5e9;
  /* 灰色 */
}

.btn-cite {
  background-color: #17a2b8;
  /* 浅蓝色 */
  color: #fff;
}

/* 确保代码块有灰色的背景颜色 */
.markdown-body pre code {
  background-color: #f6f8fa !important;
  padding: 1em;
  border-radius: 5px;
}